body {
	background-color: cyan;
}
h1 {
    padding: 10px;
    background-color: blue;
    color: white;
}
p {
    background-color: rgb(53, 7, 180);
    color: white;
    padding: 5px;
}
#puppyButton {
    width: 315px;
    height: 250px;
}
button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: orangered;
    color: white;
}
.puppyButton:active {
    border: solid;
}